extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug


block main  
   .banner-section
      .banner-slider
         .banner-container
            .banner-item
               a(href="#")
                  img(src="/images/banner.jpg", alt="Banner 1")
            .banner-item
               a(href="#")
                  img(src="/images/banner1.jpg", alt="Banner 2")
            .banner-item
               a(href="#")
                  img(src="/images/banner2.jpg", alt="Banner 3")
            .banner-item 
               a(href="#")
                  img(src="/images/banner-side-1.jpg", alt="Banner 4")
            .banner-item
               a(href="#")
                  img(src="/images/banner-side-2.jpg", alt="Banner 5")
         .banner-nav
            button.banner-prev
               i.fas.fa-chevron-left
            button.banner-next
               i.fas.fa-chevron-right

   .section-products-featured
      .container 
         .row 
            .col-12 
               +box-head("Sản phẩm nổi bật")

         +product-grid(productsFeatured)

   .section-products-new
      .container 
         .row 
            .col-12 
               +box-head("Sản phẩm mới")

         +product-grid(productsNew)

   script.
      document.addEventListener('DOMContentLoaded', function() {
         const container = document.querySelector('.banner-container');
         const prevButton = document.querySelector('.banner-prev');
         const nextButton = document.querySelector('.banner-next');
         const items = document.querySelectorAll('.banner-item');
         let currentPosition = 0;
         const itemWidth = 33.333; // Width of each item in percentage
         const totalItems = items.length;
         const visibleItems = 3;
         const maxPosition = -(totalItems - visibleItems) * itemWidth;

         function updateSlider() {
            container.style.transform = `translateX(${currentPosition}%)`;
         }

         // Xử lý nút Previous
         prevButton.addEventListener('click', () => {
            if (currentPosition < 0) {
               currentPosition = Math.min(currentPosition + itemWidth, 0);
               updateSlider();
            }
         });

         // Xử lý nút Next
         nextButton.addEventListener('click', () => {
            if (currentPosition > maxPosition) {
               currentPosition = Math.max(currentPosition - itemWidth, maxPosition);
               updateSlider();
            }
         });

         // Tự động chuyển banner mỗi 5 giây
         setInterval(() => {
            if (currentPosition > maxPosition) {
               currentPosition = Math.max(currentPosition - itemWidth, maxPosition);
               updateSlider();
            } else {
               currentPosition = 0;
               updateSlider();
            }
         }, 3000);
      }); 
    
      

